<div class="banner">
    <img src="images/Krav_Adults.jpg">
</div>
<div>
    <h2>Krav for Adults</h2>
    <p>
    Krav Fit classes incorporate two different modules - <b>Krav Maga</b> and <b>Fitness</b>.
    The first part of the hour and 15 minute class is about 20-25 intense minutes of
    circuit training and drills using a variety of exercises and methods. The Krav Fit
    fitness programs are intense workouts that use cross training to increase your strength
    and conditioning while improving your cardio performance level and building your
    core. Workouts are done in a group setting and use circuit exercises consisting
    of anaerobic weight training and resistance exercises to build your overall and
    core strength, improve your balance, and increase your cardio endurance level. Our
    fitness programs also involve cardio training that use Krav Maga techniques (such
    as striking, bursting, and movement) and plyometric exercises to improve your agility,
    speed, and cardio conditioning.
    </p>
    <p>
    The last 50 minutes of the class is all about learning and performing the techniques
    and mindset taught in the Krav Maga self-defense system. These 50 minutes will teach
    you the most effective, efficient, and realistic methods to defend a variety of
    attacks and attackers. You will learn how to recognize and respond to attacks, as
    well as how to be aware of your surroundings and avoid dangerous situations. This
    is a no-nonsense class that is serious about ensuring you learn to stay safe and
    survive a violent encounter. Drills are conducted in each class that will test your
    skills and knowledge, as well as your ability to assess and make decisions quickly
    and effectively.
    </p>
</div>
