<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav" nav-auto-close>
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#galleryNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand hidden-lg hidden-md hidden-sm">{{galleryName}}</a>
        </div>
        <div class="collapse navbar-collapse" id="galleryNavBar">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="gallery.grand_opening">Grand Opening</a></li>
            <li ui-sref-active="active"><a ui-sref="gallery.women_self_defense">Women's Self-Defense</a></li>
            <li ui-sref-active="active"><a ui-sref="gallery.in_the_news">In the News</a></li> 
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div ui-view> </div>
  </div>
</div>
