<div>
    <div class="list-group">
      <a href="http://katv.com/community/good-morning-arkansas/self-defense-for-college-students" target="_blank" class="list-group-item">Self Defense for College Students</a>
      <a href="http://www.thv11.com/news/local/thv-this-morning/working-for-women-have-a-self-defense-strategy/186806442" target="_blank" class="list-group-item">Working for Women: Have a self-defense Strategy</a>
      <a href="http://www.sportinglifearkansas.com/stacey-margaret-jones-fitness-odyssey-krav-maga/" target="_blank" class="list-group-item">Krav Fit in Sports Life</a>
      <a href="http://littlerock.thv11.com/news/news/340963-krav-fit-hosts-handgun-gun-defense-seminar" target="_blank" class="list-group-item">Handgun &amp; Gun Defense Seminar</a>
    </div>
</div>
