<div class="banner">
    <img src="images/Krav_Kids.jpg">
</div>
<div>
    <h2>Krav Kids</h2>
    <p>
    Krav Kids is creative, thoughtful and custom designed so that students can see their progress and be proud of their growth.
    Our goal is for the students to realize that becoming a successful and accomplished person takes hard work and dedication. Respect, discipline, focus, sportsmanship, teamwork, manners and common sense are just some of the skills woven into the Krav Kids curriculum.
    We've developed a program to match your kids unique method of learning. The class format is structured to be creative, fun and challenging. Instructors design each class to correspond to the skills and sensitivities of the students. After all, your kids are one-of-a-kind, which is why we built a program tailored to their needs. Through this program, the Krav Kids instructors will educate your child about the importance of:
    Learning personal safety.
    Making their bodies powerful.
    Enriching their minds.
    Building strong character.
    Creating rewarding experiences.
    </p>
</div>
