<div class="row schedule">
  <div class="col-sm-12">
    <table class="table">
      <caption>Class Schedule</caption>
      <colgroup>
        <col class="calendar_col">
        <col ng-class="{'calendar_col': (day != 1)}">
        <col ng-class="{'calendar_col': (day != 2)}">
        <col ng-class="{'calendar_col': (day != 3)}">
        <col ng-class="{'calendar_col': (day != 4)}">
        <col ng-class="{'calendar_col': (day != 5)}">
        <col ng-class="{'calendar_col': (day != 6)}">
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Beginner</td>
          <td>6:00pm</td>
          <td>5:30pm</td>
          <td>6:00pm</td>
          <td></td>
          <td></td>
          <td>9:50pm</td>
        </tr>
        <tr>
          <td>Intermediate</td>
          <td>6:00pm</td>
          <td></td>
          <td>6:00pm</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Advanced</td>
          <td></td>
          <td></td>
          <td></td>
          <td>5:30pm</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
