<div class="banner">
    <img src="images/AboutUs.jpg">
</div>
<div>
    <h2>History</h2>
    <p>
        Krav Fit opened as Krav Maga and Fitness of Arkansas in August 2004 when Devin Shirley,
        founder and lead instructor, opened the first Krav Maga training center in central
        Arkansas. Devin began his Krav Maga training in the Dallas area and wanted to bring
        his positive experiences back to his home state of Arkansas. Since the initial opening,
        Krav Fit has grown to be the premier self-defense and fitness training center in
        the state, offering realistic, high quality training in Krav Maga.
    </p>
    <p>
        The staff at Krav Fit has over 30 years combined experience in Krav Maga and fitness
        training and has trained civilians, police, military, along with a variety of civilian
        groups and organizations. The Krav Fit training center has multiple programs to
        meet the training needs of its members. Self-defense classes are taught using the
        Krav Maga system, which provides the most practical and effective system of self-defense
        available. The Krav Fit fitness program involves intense cardio and strength/conditioning
        classes, that will not only get you in better shape, but will help you improve your
        performance in the Krav Maga classes.The Krav Kids program is for ages 5 - 12. Participants
        in the Krav Kids program will learn discipline and respect all while learning and
        applying the basic principles of the Krav Maga system.
    </p>
    <p>
        Krav Fit continues to provide civilians, kids, law enforcement, military, and a
        variety of organizations the tools they need to protect themselves and their families,
        all while improving their overall health and fitness levels. We hope you will come
        in and try out a class because we know that once you try it out, you will leave
        a better person.
    </p>
    <p>
    Please contact us for more information at <a href="mailto:{{email}}" class="email"> {{email}}</a> or call us at {{phone_number}}.
    </p>
</div>
