<div class="banner">
    <img src="images/Krav_LawEnf.jpg">
</div>
<div>
    <p>
        The needs of law enforcement and military units are different from civilian self-defense,
        as well as being different from each other. At Krav Fit, we provide specific training
        to meet the needs of both military and law enforcement personnel.</p>
    <p>
        Krav Maga was originally developed in Israel for military and law enforcement and
        it was based on violent encounters and combat situations that these personnel faced.
        We recognize that policies and tactics differ in other countries as well as in the
        United States, especially between different organizations and units, so we work
        hard to adapt Krav Maga techniques to the needs of individual agencies while maintaining
        the efficient, effective nature of the Krav Maga system. Krav Maga has been adopted
        by hundreds of U.S. law enforcement agencies because it is simple, effective, and
        adaptable for agents of all ages and abilities. The techniques are easy to retain
        and can be performed under extreme stress.
    </p>
    <p>
        The Krav Maga system has been praised by defensive tactics instructors from federal,
        state, and local law enforcement agencies around the country as well as combat trainers
        from special units of the military.</p>
    <p>
        For more information on our law enforcement and military training, please email
        us at <a href="mailto:{{email}}" class="email">{{email}}</a> or call us at 501.664.KRAV (5728).
    </p>
</div>
